html {
  font-family: 'Roboto', sans-serif;
}

nav .brand-logo, #notice {
  padding-left: 10px;
}

#notice {
  display: block;
  width: 100%;
}

#sigbar {
  max-width: 100%;
}

#footer {
  padding-top: 20px;
}
